<!doctype html>
<html lang="en">
<head>
    <title>{{.title}}</title>
    <meta content="Welcome to my shop" name="description"/>
    <meta content="HalliS20" name="author"/>
    <meta content="shop, SEO friendly shop" name="keywords"/>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="{{ .favicon }}" rel="icon"/>
    <link
            href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
            rel="stylesheet"
            type="text/css"
    />
    <script src="/public/js/main.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="min-h-screen w-full bg-base-200 flex flex-col">
    <nav id="navbar-section">{{template "navbar" .}}</nav>
    <div class="h-full w-full flex grow" id="content">
        {{template "product_list" .}}
    </div>
</div>
</body>
</html>
