{{ define "product_list" }}
<div class="w-full grow flex flex-col h-full">
    <div style="height: 39vh; display: flex">
        <img
                alt="Banner image of the shop"
                class="shadow"
                src="https://images.unsplash.com/photo-1491553895911-0055eca6402d?q=80&w=2380&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                style="object-fit: cover; height: 100%; width: 100%;"
        />
    </div>
    <div class="card_collection flex w-full flex-row grow" style="height: 50vh">
        {{range .products}}
        <a class="card card-compact bg-base-100 w-1/5 m-4 shadow-lg"
           href="/products/{{.ID}}">
            <figure style="height: 100%; background-color: white">
                <img
                        alt="{{.Description}}"
                        src="{{.Photo}}"
                        style="object-fit: cover; width: 100%; "
                />
            </figure>
            <div class="card-body">
                <h2 class="card-title w-fit">{{.Name}}</h2>
                <div class="flex w-full flex-row justify-between">
                    <p class="text-primary">Price: ${{.Price}}</p>
                    <button class="btn btn-primary w-fit">Buy Now</button>
                </div>
            </div>
        </a>
        {{end}}
    </div>
</div>
{{ end }}